h1{
	color:#40516B;
	font-family: 'Arial';
	border-bottom: 2px solid #785A4F;
	padding-left: 20px;
}
p{
	color: #40516B;
	font-family: 'Arial';
	padding: 5px;
}
a{
	color: #785A4F;
	text-decoration: none;
	font-weight: bolder;

}